.quicksand-serif {
  font-family: "Quicksand", serif;
  font-style: normal;
}

body {
  max-width: 1440px;
  background-color: #ffff;
}

/* common display flex */
.display_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header section styles */
header {
  max-width: 1200px;
  margin: 0 auto;
}

.inner_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  gap: 10px;
}

.logo h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #111111;
  line-height: 1.85rem;
}

.nav_links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_links,
.li_items {
  margin-left: 32px;
  list-style: none;
}

/* home */
.nav_links,
.li_home {
  font-weight: 700;
  font-size: 1.25rem;
  color: #fea301;
  text-decoration: none;
}

/* about */
.nav_links,
.li_about {
  font-weight: 500;
  font-size: 1.25rem;
  color: #01acfd;
  text-decoration: none;
}

/* facilities */
.nav_links,
.li_facilities {
  font-weight: 500;
  font-size: 1.25rem;
  color: #05d4df;
  text-decoration: none;
}

/* admission */
.nav_links,
.li_admission {
  font-weight: 500;
  font-size: 1.25rem;
  color: #5d58ef;
  text-decoration: none;
}

/* button styles */
.button .btn {
  width: 190px;
  height: 50px;
  background-color: #fea301;
  padding: 10px 10px;
  border-radius: 0.75rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  line-height: 1.75rem;
}

.button .menubar {
  display: none;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: #111111;
}

/* banner section styles */

section,
.banner {
  margin-top: 1.25rem;
  max-width: 1200px;
  margin: 0 auto;
}
.banner .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.02rem;
}

.banner .hero .title h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #111111;
}
.banner .hero .title h1 .empower {
  color: #fea301;
}

.banner .hero .title h1 .toword {
  color: #01acfd;
}
.banner .hero .title p {
  font-size: 1.25rem;
  color: #111111;
  line-height: auto;
  margin-top: 1.25rem;
}

.banner .hero .title .enrol .hero_btn {
  padding: 10px 10px;
  background-color: #111111;
  color: #ffffff;
  width: 190px;
  height: 50px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
}

/* main styles start */
main {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(../assets/bg.png);
  background-image: linear-gradient(#ffffff, rgb(87, 66, 66));
  width: 100%;
  background-size: cover;
  margin-top: 3.85rem;
}
main .stand {
  text-align: center;
  font-weight: 700;
  font-size: 2.75rem;
}

/* standard curriculum section styles */
.curriculum {
  margin-top: 3.75rem;
}

.curriculum .curriculum_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

/* kids_card styles */
.curriculum .curriculum_card .kids_card {
  background-color: #def5ff;
  border-radius: 18px;
  text-align: center;
}
.curriculum .curriculum_card .kids_card img {
  margin-top: 40px;
}

.curriculum .curriculum_card .kids_card h1 {
  font-weight: 700;
  font-size: 24px;
}

.curriculum .curriculum_card .kids_card p {
  color: #808080;
  font-weight: 500;
  font-size: 15px;
}
.curriculum .curriculum_card .kids_card h4 {
  font-weight: 700;
  font-size: 15px;
  color: #64c8;
}

/* school_card styles */
.curriculum .curriculum_card .school_card {
  background-color: #fff4dc;
  border-radius: 18px;
  text-align: center;
}

.curriculum .curriculum_card .school_card img {
  margin-top: 40px;
}
.curriculum .curriculum_card .shool_card h1 {
  font-weight: 700;
  font-size: 24px;
}

.curriculum .curriculum_card .school_card p {
  color: #808080;
  font-weight: 500;
  font-size: 15px;
}
.curriculum .curriculum_card .school_card h4 {
  font-weight: 700;
  font-size: 15px;
  color: #f0aa00;
}

/* year card styles */
.curriculum .curriculum_card .year_card {
  background-color: #f2e8ff;
  border-radius: 18px;
  text-align: center;
}
.curriculum .curriculum_card .year_card img {
  margin-top: 40px;
}

.curriculum .curriculum_card .year_card h1 {
  font-weight: 700;
  font-size: 24px;
}

.curriculum .curriculum_card .year_card p {
  color: #808080;
  font-weight: 500;
  font-size: 15px;
}

.curriculum .curriculum_card .year_card h4 {
  font-weight: 700;
  font-size: 15px;
  color: #8700ff;
}

/* angel bar styles */
.angel {
  text-align: center;
  margin-top: 60px;
  gap: 10px;
}

.angel .angel_1 {
  background-color: #fea301;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  border: none;
  color: #ffffff;
  font-size: 24px;
}

.angel .angel_2 {
  background-color: #fea301;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  border: none;
  color: #ffffff;
  font-size: 24px;
}
/*~~~~~~ media query for mobile device responsive design ~~~~~~~*/
@media screen and (max-width: 1024px) {
  .menubar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    overflow: hidden;
  }
  .menubar {
    display: block;
    top: 0;
    left: 0;
    /* margin-inline-end: -90%; */
    /* padding: 3.75rem 5%; */
  }
  .inner_header > button {
    margin-left: 60%;
  }
  .logo h1 {
    display: none;
  }
  .nav_links ul {
    display: none;
  }
  .button {
    display: none;
  }
  .menubar {
    outline: none;
    border: none;
    color: #111111;
    background: transparent;
    cursor: pointer;
    width: 1.85rem;
    height: 1.85rem;
  }
  div .line {
    width: 390px;
    height: 70px;
    background-color: #fea301;
  }

  .banner {
    padding: 0 auto;
    overflow: hidden;
  }

  .banner,
  .hero {
    flex-direction: column-reverse;
    padding: 10px;
  }

  .banner,
  .hero,
  .img_title {
    padding: 0 auto;
  }

  .banner .hero .title h1 {
    font-weight: 700;
    font-size: 2rem;
    color: #111111;
    text-align: center;
  }

  .banner .hero .title p {
    font-size: 0.85rem;
    color: #111111;
    line-height: auto;
    margin-top: 1.12rem;
    text-align: center;
  }

  .banner .hero .title .hero_btn {
    padding: 6px 24px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1.12rem;
  }

  .banner .hero .title .enrol {
    text-align: center;
  }

  main {
    padding: 0 auto;
    overflow-x: hidden;
  }
  main .stand {
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
  }

  .curriculum .curriculum_card {
    flex-direction: column;
  }
  .angel {
    display: none;
  }
}
